body{
    padding-top: 50px;
    position: relative;
	background-color:#F5F5F5;
}

.tagline{
	text-align:center;
	font-size: 2em;
	padding: 20px 0;
}

.search{
}

.simply{
	padding-bottom: 10px;
}
hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #EEEEEE -moz-use-text-color #FFFFFF;
	border-style: solid none;
	border-width: 1px 0;
	margin: 18px 0;
}
#memberLoginInfo{
	text-align:left;
}

#memberLogout{
	color: #000;
}

.cover-list {
	background: url("images/nobook.png") no-repeat scroll left top transparent;
	clear: both;
	float: left;
	height: 135px;
	width: 90px;
	margin-bottom: 20px;
}
